In [114]:
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd

In [115]:
url = 'https://www.billboard.com/charts/hot-100/'

response = requests.get(url)
soup = BS(response.content, 'html.parser')

print(type(response))
print(response.status_code)
print(requests.get(url))

<class 'requests.models.Response'>
200
<Response [200]>

In [46]:
first = soup.find('li', class_ = 'o-chart-results-list__item').text.strip()
first

'1'

In [37]:
song = soup.findAll('h3', id = 'title-of-a-story')[2].text.strip()
song

'Golden'

In [42]:
artist = soup.findAll('span', class_ = 'c-label')[1].text.strip()
artist

'HUNTR/X: EJAE, Audrey Nuna & REI AMI'

In [57]:
stats = soup.find_all('span', class_ = 'c-label')
lastweek = stats[2].text.strip()
peak = stats[3].text.strip()
weeks_chart = stats[4].text.strip()

print(lastweek)
print(peak)
print(weeks_chart)

1
1
14

#### Start with isolating #1 on this weeks chart

In [116]:
data=[]

# First song (rank 1) has a unique structure compared to 2-100
first = soup.find('li', class_ = 'o-chart-results-list__item').text.strip()
song = soup.findAll('h3', id = 'title-of-a-story')[2].text.strip()
artist = soup.findAll('span', class_ = 'c-label')[1].text.strip()
stats = soup.findAll('span', class_ = 'c-label')
lastweek = stats[2].text.strip()
peak = stats[3].text.strip()
weeks_chart = stats[4].text.strip()


data.append({
    "This Week": first,
    "Song": song,
    "Artist": artist,
    "Last Week": lastweek,
    "Peak Position": peak,
    "Weeks on Chart": weeks_chart
})

data = pd.DataFrame(data)
data

,This Week,Song,Artist,Last Week,Peak Position,Weeks on Chart
0,1,Golden,"HUNTR/X: EJAE, Audrey Nuna & REI AMI",1,1,14

#### Now create a loop for extracting 2-100

#### Found a pandas library for billboard

In [135]:
!pip install billboard.py pandas
import billboard, pandas as pd

chart = billboard.ChartData('hot-100')   # or 'billboard-200', etc.

data = [
    {
        "This Week Pos": entry.rank,
        "Song": entry.title,
        "Artist": entry.artist,
        "Last Week": entry.lastPos or None,
        "Peak Position": entry.peakPos,
        "Weeks on Chart": entry.weeks
    }
    for entry in chart
]

df = pd.DataFrame(data)

Requirement already satisfied: billboard.py in c:\users\user\anaconda3\lib\site-packages (7.1.0)
Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: beautifulsoup4>=4.4.1 in c:\users\user\anaconda3\lib\site-packages (from billboard.py) (4.12.3)
Requirement already satisfied: requests>=2.2.1 in c:\users\user\anaconda3\lib\site-packages (from billboard.py) (2.32.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\anaconda3\lib\site-packages (from beautifulsoup4>=4.4.1->billboard.py) (2.5)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.2.1->billboard.py) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.2.1->billboard.py) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.2.1->billboard.py) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.2.1->billboard.py) (2025.8.3)

In [134]:
df.head()

,This Week Pos,Song,Artist,Last Week,Peak Position,Weeks on Chart
0,1,Golden,"HUNTR/X: EJAE, Audrey Nuna & REI AMI",1.0,1,14
1,2,Ordinary,Alex Warren,2.0,1,33
2,3,Soda Pop,"Saja Boys: Andrew Choi, Neckwav, Danny Chung, ...",5.0,3,13
3,4,What I Want,Morgan Wallen Featuring Tate McRae,4.0,1,19
4,5,Your Idol,"Saja Boys: Andrew Choi, Neckwav, Danny Chung, ...",6.0,4,14

In [139]:
df['Last Week'] = df['Last Week'].astype('Int64')
df.head()

,This Week Pos,Song,Artist,Last Week,Peak Position,Weeks on Chart
0,1,Golden,"HUNTR/X: EJAE, Audrey Nuna & REI AMI",1,1,14
1,2,Ordinary,Alex Warren,2,1,33
2,3,Soda Pop,"Saja Boys: Andrew Choi, Neckwav, Danny Chung, ...",5,3,13
3,4,What I Want,Morgan Wallen Featuring Tate McRae,4,1,19
4,5,Your Idol,"Saja Boys: Andrew Choi, Neckwav, Danny Chung, ...",6,4,14